@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: #8e1c32;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
}

.w-100 {
  width: 100%;
}

.top_holder {
  width: 100%;
  height: 110px;
  filter: drop-shadow(0px 5px 0px rgba(114, 1, 37, 0.9));
}

.top {
  width: 100%;
  height: 110px;
  background: #ce2949;
  -webkit-clip-path: polygon(0 0, 100% 1%, 100% 48%, 51% 48%, 35% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 1%, 100% 48%, 51% 48%, 35% 100%, 0 100%);
}

.gem {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gem .sub_gem {
  width: 85%;
  height: 85%;
  border-radius: 100%;
  background-color: rgb(46, 179, 246);
  -webkit-animation: rotation 2s infinite;
          animation: rotation 2s infinite;
  transition: all 0.5s ease-in-out;
}

@-webkit-keyframes rotation {
  0% {
    background: linear-gradient(135deg, #087cb6 0%, rgb(46, 179, 246) 100%);
  }
  50% {
    background: linear-gradient(0deg, #2eb3f6 0%, ligthen(rgb(46, 179, 246), 10%) 100%);
  }
  100% {
    background: linear-gradient(135deg, #087cb6 0%, rgb(46, 179, 246) 100%);
  }
}

@keyframes rotation {
  0% {
    background: linear-gradient(135deg, #087cb6 0%, rgb(46, 179, 246) 100%);
  }
  50% {
    background: linear-gradient(0deg, #2eb3f6 0%, ligthen(rgb(46, 179, 246), 10%) 100%);
  }
  100% {
    background: linear-gradient(135deg, #087cb6 0%, rgb(46, 179, 246) 100%);
  }
}
.small_gems_holder {
  top: 20px;
  left: 115px;
  width: 61px;
  height: 17px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.small_gems_holder .red {
  background: red;
}
.small_gems_holder .yellow {
  background: yellow;
}
.small_gems_holder .green {
  background: green;
}
.small_gems_holder .small_gem {
  width: 17px;
  height: 17px;
  border-radius: 50%;
}
.small_gems_holder .small_gem .detail {
  border-radius: 50%;
  position: relative;
  top: 3px;
  left: 2px;
  width: 30%;
  height: 30%;
  background: rgba(255, 255, 255, 0.7);
}

.search {
  width: 100%;
  height: 100px;
  background: #ce2949;
  border-radius: 15px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.search #pkm_search_input {
  width: 50%;
  height: 25%;
  border-radius: 15px;
  background: white;
  border: none;
  outline: none;
  padding-left: 10px;
}

.w-100 {
  filter: drop-shadow(0px 5px 0px rgba(204, 204, 204, 0.9));
}

.screen_holder {
  margin: auto;
  border-radius: 15px;
  background: white;
  margin-top: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 227px;
}

.screen {
  width: 90%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 15px;
  background: black;
}
.screen .left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen .left img {
  width: 90%;
}
.screen .right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.screen .right ul {
  margin-left: 5px;
  color: white;
  list-style-type: none;
}

.numerals_holder {
  margin-top: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 115px;
  filter: drop-shadow(0px 5px 0px rgba(8, 124, 182, 0.9));
}
.numerals_holder .numerals {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 100%;
}
.numerals_holder .numerals > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.numerals_holder .numerals > div button {
  background: rgb(46, 179, 246);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20%;
  height: 100%;
  border: 1px solid #087cb6;
}
.numerals_holder .numerals > div button:hover {
  background: #098ccf;
}
.numerals_holder .numerals > div button:active {
  background: #087cb6;
}
.numerals_holder .numerals > div button:focus {
  outline: none;
}
.numerals_holder .numerals > div button span {
  width: 100%;
  color: white;
  font-weight: bold;
  text-align: center;
  text-justify: center;
  font-family: "Roboto Condensed", sans-serif;
}
.numerals_holder .numerals > div button .number {
  margin-top: -3px;
  font-size: 38px;
  height: 65%;
}
.numerals_holder .numerals > div button .t9_options {
  margin-top: 4px;
  font-size: 13px;
  height: 35%;
}
.numerals_holder .numerals .up {
  width: 100%;
  height: 50%;
}
.numerals_holder .numerals .up :first-child {
  border-radius: 15px 0 0 0;
}
.numerals_holder .numerals .up :last-child {
  border-radius: 0 15px 0 0;
}
.numerals_holder .numerals .down {
  width: 100%;
  height: 50%;
}
.numerals_holder .numerals .down :first-child {
  border-radius: 0 0 0 15px;
}
.numerals_holder .numerals .down :last-child {
  border-radius: 0 0 15px 0;
}

.buttons_holder {
  width: 100%;
  height: 200px;
  margin-top: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.buttons_holder .left {
  width: 50%;
  height: 100%;
}
.buttons_holder .right {
  width: 50%;
  height: 100%;
}
.buttons_holder .right .up {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33%;
}
.buttons_holder .square_button {
  width: 50px;
  height: 50px;
  background: rgb(50, 50, 50);
  border: 0px;
  color: white;
}/*# sourceMappingURL=style.css.map */