@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: #8e1c32;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
}

.w-100 {
  width: 100%;
}

.top {
  width: 100%;
  height: 110px;
  background: #ce2949;
  -webkit-clip-path: polygon(0 0, 100% 1%, 100% 48%, 51% 48%, 35% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 1%, 100% 48%, 51% 48%, 35% 100%, 0 100%);
}

.gem {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gem .sub_gem {
  width: 85%;
  height: 85%;
  border-radius: 100%;
  background-color: rgb(46, 179, 246);
}

.search {
  width: 100%;
  height: 100px;
  background: #ce2949;
  border-radius: 15px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.search #pkm_search_input {
  width: 50%;
  height: 25%;
  border-radius: 15px;
  background: white;
  border: none;
  outline: none;
  padding-left: 10px;
}

.buttons_holder {
  width: 100%;
  height: 200px;
  margin-top: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.buttons_holder .left {
  width: 50%;
  height: 100%;
}
.buttons_holder .right {
  width: 50%;
  height: 100%;
}
.buttons_holder .right .up {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33%;
}
.buttons_holder .square_button {
  width: 50px;
  height: 50px;
  background: rgb(50, 50, 50);
  border: 0px;
  color: white;
}

.numerals_holder {
  width: 100%;
  height: 115px;
  margin-top: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.numerals_holder .numerals {
  width: 90%;
  height: 100%;
  background: rgb(46, 179, 246);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #087cb6;
  border-radius: 15px;
  overflow: hidden;
}
.numerals_holder .numerals > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.numerals_holder .numerals > div button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20%;
  height: 100%;
  background: none;
  border: 1px solid #087cb6;
}
.numerals_holder .numerals > div button span {
  color: white;
  text-align: center;
  text-justify: center;
  width: 100%;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}
.numerals_holder .numerals > div button .number {
  margin-top: -3px;
  font-size: 38px;
  height: 65%;
}
.numerals_holder .numerals > div button .t9_options {
  margin-top: 4px;
  font-size: 13px;
  height: 35%;
}
.numerals_holder .numerals .up {
  width: 100%;
  height: 50%;
}
.numerals_holder .numerals .down {
  width: 100%;
  height: 50%;
}

.screen_holder {
  margin: auto;
  border-radius: 15px;
  width: 90%;
  height: 227px;
  background: white;
  margin-top: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  border-radius: 15px;
  width: 90%;
  height: 200px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.screen .left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen .left img {
  width: 90%;
}
.screen .right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.screen .right ul {
  margin-left: 5px;
  color: white;
  list-style-type: none;
}/*# sourceMappingURL=style.css.map */