.screen {
    //background: cyan;
    width: 100%;
    height: 95vh;
    overflow: hidden;
    @include display-flex;
}
.search_div {
    @include display-flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    div {
        @include display-flex;
        flex-direction: column;
    }
    p {
        text-transform: uppercase;
        color: $generic-text-color;
    }
    #show_error{
        color: $pallet-color-2;
    }
    input {
        color: $color-bg;
        text-align: center;
        border-radius: $border-radius;
        background: $pallet-color-5;
    }
    button {
        color: $generic-text-color;
        background: $pallet-color-6;
        border-radius: $border-radius;
    }
}
.main {
    margin-top: 2%;
    width: 0%;
    height: 100%;
    background-color: $main-bg;
    @include display-flex;
}
.main-left {
    width: 50%;
    height: 100%;
}

.main-right {
    width: 50%;
    height: 100%;

    #pkm_img_show {
        width: 150px;
        height: 150px;
        //background: red;
    }
}
.pokedex_tittle_big {
    color: $pallet-color-2;
    font-size: 4em;
    //text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.pokedex_tittle_small {
    color: $pallet-color-2;
    font-size: 1em;
    margin: auto;
    //text-shadow: none;
}
