@media (min-width: 0px) {
    .search_div {
        //background: green;
        h1 {
            margin: -15% auto 10% auto;
        }
        div {
            margin: -5% auto 0% auto;
        }
        p {
            margin: 5% auto 0% auto;
            font-size: 1rem;
        }
        #show_error{
            margin: 0% auto 0% auto;
            font-size: 1rem;
        }
        input {
            font-size: 1em;
            width: 70%;
            height: 25px;
            margin: 0% auto 0% auto;
        }
        button {
            font-size: 0.85em;
            width: 50%;
            height: 35px;
            margin: 5% auto 0% auto;
        }
    }
}
@media (min-width: 440px) {
    .search_div {
        h1 {
            margin: 0% auto 10% auto;
        }
        p {
            font-size: 1.5rem;
        }
        input {
            font-size: 1.3em;
            width: 50%;
            height: 30px;
        }
        button {
            width: 30%;
            height: 30px;
        }
    }
}
@media (min-width: 550px) {
    .search_div {
        input {
            width: 40%;
        }
        button {
            width: 20%;
        }
    }
}
@media (min-width: 850px) {
    .search_div {
        input {
            width: 30%;
        }
    }
}
@media (min-width: 1000px) {
    .search_div {
        p {
            margin: -5% auto 1% auto;
        }
        input {
            width: 20%;
            margin: 0% auto 1% auto;
        }
        button {
            margin: 0% auto 0% auto;
        }
    }
}
